@{
    ViewBag.Title = "quick notes :: home";
}

@section coreScripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/notes-core.js")"></script>
}

<style type="text/css">
    .open-banner {
        position: absolute; top: 503px; right: 10px; cursor: pointer
    }

    .closed-banner {
        position: absolute; top: 3px; right: 10px; cursor: pointer
    }

    .information {
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: #FE2E2E;
        color: white;
        font-weight: bold;
        padding: 10px;
        border: 1px solid #8A0829;
        z-index: 999
    }
</style>

<div ng-app="MainModule" ng-controller="NotesController">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="@Url.Content("~/Content/images/carousel/img_1.jpg")" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Add a note!</h1>
                        <p><input type="text" class="form-control" placeholder="Your note..." ng-model="note"/></p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button" ng-click="addNote()">Add Note</a></p>
                        <p style="font-size: small" ng-show="noteAdding"><img src="@Url.Content("~/Content/images/loader.gif")" alt=""/>&nbsp;adding a note...</p>
                        <p style="font-size: small" ng-show="noteAdded">note added!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br class="space" style="display: none"/><br class="space" style="display: none"/><br class="space" style="display: none"/>
    <div class="container">
        <div ng-show="busy">
            <img src="@Url.Content("~/Content/images/loader.gif")" alt=""/>&nbsp;getting the notes...
        </div>
        <div class="pull-right">
            <span id="banner" class="open-banner glyphicon glyphicon-export" title="open/close banner"></span>
        </div>
        <div>
            <div ng-repeat="note in notes">
                <div class="q-note" id="{{ note.IdStr }}">
                    {{ note.NoteContent }}
                </div>
                <div class="q-options">
                    <span class="q-option q-select" ng-hide="isFlashAvailable()" ng-click="selectNote($event)">
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> select
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="q-option" ng-click="displayNotice()" clip-copy="note.NoteContent">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> copy
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="q-option" ng-click="removeNote(note.NoteId)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete
                    </span>
                </div>
                <br/><br/><br/>
            </div>
        </div>
    </div>
    
    <div ng-show="copy_status" class="information">
        copied!
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/notes-misc.js")"></script>
}
