@{
    ViewBag.Title = "quick notes :: home";
}

@section coreScripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/notes-core-mashed.js")"></script>
}

<br/>

<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/Content/sticky.css")"/>
<style type="text/css">
    .information {
        position: absolute;
        left: 50%;
        top: 5%;
        color: white;
        font-weight: bold;
        padding: 10px;
        border: 1px solid #8A0829;
        z-index: 999
    }

    .additional-options {
        position: fixed; 
        bottom: 10px; 
        right: 10px
    }

    .seperator {
        color: gray
    }

    .active-link {
        background-color: yellow
    }
</style>

<div class="container-fluid">

    <div ng-app="MainModule" ng-controller="SettingsController">
        <div ng-controller="NotesController">
            <div class="header">
                <div class="pull-left">
                    Your Notes
                </div>
                <div class="pull-right">
                    <a href="#sticky" ng-click="setStickyAsActive()" ng-class="{ 'active-link' : sticky_active }">sticky</a> | 
                    <a href="#/" ng-click="setPlainAsActive()" ng-class="{ 'active-link' : plain_active }">plain</a>
                </div>
            </div>
            <br/><br/>
            <hr/>
            <div class="text-center loader" ng-show="busy">
                <img src="@Url.Content("~/Content/images/loader.gif")" alt=""/>&nbsp;getting the notes...
            </div>

            <!-- Button trigger modal -->
            <div class="pull-right">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                  Add a Note!
                </button>
            </div>

            <div ng-view></div>

            <div ng-show="copy_status" class="information">
                copied!
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" style="color: green" id="myModalLabel">Add a Note!</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" placeholder="Your note..." ng-model="note"/>
                        </div>
                        <div class="modal-footer">
                            <div style="font-size: small; color: green" ng-show="noteAdding"><img src="@Url.Content("~/Content/images/loader.gif")" alt=""/>&nbsp;adding...</div>
                            <div style="font-size: small; color: green" ng-show="noteAdded">note added!</div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="addNote()">Add</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/notes-misc.js")"></script>
}
